@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  font-family: "Josefin Sans", sans-serif;
  background-color: #1d1d1d;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.main {
  width: 100%;
  height: 100vh;
  /* background-image: url("./assets/—Pngtree—abstract\ colorful\ geometric\ shapes\ background_4426535.png"); */
  background-size: 800px;
  background-position: center;
  background-repeat: no-repeat;
}
.main .bg-shapes div {
  position: absolute;
  opacity: 0.08;
}
.main .bg-shapes div:nth-child(1) {
  height: 100px;
  width: 100px;
  top: 20%;
  left: 20%;
  background-color: #ffffff;
  border-radius: 50%;
  animation: shape 5s linear infinite;
}
.home-section .bg-shapes div:nth-child(3) {
  height: 60px;
  width: 60px;
  top: 12%;
  left: 90%;
  background-color: transparent;
  border-radius: 50%;
  border: 5px solid #ffffff;
  border-left: 5px solid transparent;
  border-bottom: 5px solid transparent;
  animation: shape2 7s linear infinite;
}
.main .bg-shapes div:nth-child(4) {
  height: 200px;
  width: 200px;
  top: 0;
  left: calc(100% - 200px);
  background-color: #ffffff;
  border-radius: 15%;
  animation: shape3 10s linear infinite;
}

.main .bg-shapes div:nth-child(5) {
  height: 200px;
  width: 200px;
  top: 40%;
  left: calc(0% - 50px);
  background-color: transparent;
  border: 5px solid #ffffff;
  animation: shape2 10s linear infinite;
}

@keyframes shape {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateX(0px);
  }
}

@keyframes shape2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shape3 {
  0%,
  100% {
    transform: scale(2.5);
  }
  50% {
    transform: scale(1);
  }
}
.nav .nav-item a {
  position: relative;
  color: #b1aaae;
  font-size: 14px;
  top: 20px;
  padding-right: 40px;
  left: -65%;
  /* transform: translateY(-50%);
  border-radius: 20px; */
  /* background-color: #333333;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2); */
  /* padding: 5px 0px;
  z-index: 1; */
}
.logo {
  position: absolute;
  left: 90px;
  top: 20px;
}
.logo a {
  font-weight: 700;
  color: #b1aaae;
  font-size: 12px;
  text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
}

.main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-text h1 {
  background: -webkit-linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 94px;
}

.main-text h1 p {
  background-color: #b49caa;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 35px;
  padding-left: 40px;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}
.main-text p {
  padding-top: 2px;
}
.main-text h1 span {
  padding-left: 40px;
}
.main-text h5 span {
  padding-left: 35px;
}
.main-text h5 {
  font-weight: 700;
  font-size: 10px;
  padding-left: 120px;
  justify-content: center;
  align-items: center;
  background-color: #b49caa;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* .main-text h1,
p {
  font-weight: 700;
  margin: 0px;
  line-height: 60px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.08);
  letter-spacing: 3px;
  color: #333;
  text-transform: uppercase;
} */
.main-btn {
  width: 150px;
  height: 50px;
  background-color: #dc5eb0;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-left: 150px;
  margin-top: 20px;
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 12px;
}
.main-btn:hover {
  color: #ffffff;
  background-color: #f50057;
  transition: all 0.2s ease;
}

.social a {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social {
  position: fixed;
  left: 95%;
  top: 35%;
  /* transform: translateY(-50%);
  border-radius: 20px; */
  /* background-color: #333333;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2); */
  padding: 5px 0px;
  z-index: 1;
}

.social a i {
  color: #ffffff;
}
.section-heading {
  position: relative;
  display: block;
  margin-bottom: 100px;
}

.section-heading::before {
  content: "";
  position: absolute;
  background-color: rgba(56, 65, 71, 0.5);
  width: 1px;
  height: 50px;
  top: 53px;
  border-radius: 8px;
}

.heading-title {
  font-family: "Playfair Display Sc", sans-serif;
  text-transform: uppercase;
  color: #384147;
  font-size: 22px;
}

.lightbox-content {
  position: relative;
  overflow: hidden;
}

.lightbox-content img {
  padding-left: 5px;
  padding-bottom: 5px;
  transition: transform 2s;
}

.lightbox-content:hover img {
  transform: scale(1.2);
}

.lightbox-content a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  transition: background-color 0.5s;
}

.lightbox-content a:hover::before {
  background-color: rgba(0, 0, 0, 0.7);
}

.lightbox-content a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f00e";
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 25px;
  z-index: 101;
  width: 70px;
  height: 70px;
  border: 3px solid #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.lightbox-content a:hover::after {
  opacity: 0.5;
}
.social-footer {
  display: none;
  /* box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; */
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  padding: 5px 40px;
}
.social-footer li a {
  padding: 5px 20px;
  margin: 10px;
  display: flex;
  color: #ffffff;
}

.copyright {
  color: #00f59e;
  background-color: #f50057;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
@media (max-width: 600px) {
  .social {
    display: none;
  }
  .nav .nav-item a {
    padding-right: 20px;
  }
  .logo {
    /* left: 30px;
    top: 30px; */
    display: none;
  }
  /* .bg-shapes {
    display: none;
  } */
  .main .bg-shapes div:nth-child(1),
  .main .bg-shapes div:nth-child(5) {
    display: none;
  }
  .main .bg-shapes div:nth-child(4) {
    height: 50px;
    width: 50px;
    top: 0;
    left: calc(100% - 75px);
    background-color: #ffffff;
    border-radius: 15%;
    animation: shape3 10s linear infinite;
  }
  .logo a {
    font-size: 1.4rem;
  }
  .main-text {
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .main-text h1 {
    font-size: 60px;
  }
  .main-text h1 p {
    font-size: 20px;
  }
  .main-text h5,
  span {
    margin-left: -45px;
  }
  /* .main-text h5 span {
    margin-left: -70px;
  } */
  /* .main-text h5 {
    font-size: 12px;
    margin-left: -22px;
  }
  .main-text h5 span {
    font-size: 12px;
    margin-left: 0px;
  } */
  .main-btn {
    margin-left: 65px;
  }
  .product {
    width: 88%;
  }
  .box {
    margin: 20px 10px;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
  }
  .social-footer {
    display: flex;
  }
}
